/* .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .search-result {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    color: whitesmoke;
    background-color: blue;
  } */